GEMINI_API_KEY=AIzaSyAhR0slbBPl6dvVgfHyl4DmAsNfKhlM7j0
DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5432/factchecker
NEO4J_URI=neo4j+s://abd6fdf6.databases.neo4j.io
NEO4J_USER=abd6fdf6
NEO4J_PASSWORD=e6BrmBmbGtzjiTtmVpgLl2nHFilxIDF61vpYxb7yjk4
